.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $snow;
  backdrop-filter: blur(0.5rem);
  z-index: 12;
  display: none;
}

.hidden {
  display: none;
}

.arrow__icon--flip {
  transform: rotate(180deg);
}

.main {
  &__title-wrapper {
    @include flexCenter;
    margin-bottom: 1.5rem;
  }

  &__controls {
    @include flexCenter;
    font-family: $fontMedium;
    margin: 1rem 0;
  }

  &__hiden-button,
  &__expand-button {
    align-items: center;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -0.02px;
    color: $gunmetal;
  }

  &__expand-button {
    display: flex;
  }

  &__hiden-button {
    display: none;
  }

  &__container {
    @include flexColumn;
    row-gap: 1.5rem;
    max-width: 100vw;
    overflow-x: hidden;
  }
  /* highlight */
  &__divider {
    width: 0.25rem;
    height: 2.5rem;
    background-color: $aquamarine;
    border-radius: 0 0.25rem 0.25rem 0;
  }

  &__tabs {
    display: flex;
  }

  /* Меню по разделам */
  &__tabs-group {
    @include flexCenter;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0 1rem 1.5rem;
  }

  /* Кнопки меню по разделам  */
  &__tab-label {
    color: $grey;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    cursor: pointer;
    flex-shrink: 0;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: transparent;
    letter-spacing: -0.2px;
    font-family: $fontMedium;
  }

  &__tab-input {
    display: none;
  }

  /* Стили для текста в основной части */
  &__text-wrapper {
    width: auto;
    padding: 0 1rem;
    color: $gunmetal;
    line-height: 1.125rem;
    letter-spacing: 0.02px;
  }

  &__image {
    width: 100%;
    text-align: center;
  }

  /* Стили для изображения в основной части */
  &__actions {
    display: none;
  }

  &__text-wrapper {
    .main__text--first {
      display: block;
    }

    .main__text--second,
    .main__text--third {
      display: none;
      margin-top: 1rem;
    }

    &.is-open {
      .main__text--second,
      .main__text--third {
        display: block;
      }
    }

    @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      .main__text--second {
        display: block;
      }

      &.is-open .main__text--third {
        display: block;
      }
    }

    @media (min-width: $desktop) {
      .main__text--second {
        display: block;
      }

      &.is-open .main__text--third {
        display: block;
      }
    }
  }
}

input[type='radio']:checked + .main__tab-label {
  border-radius: 6px;
  border: 2px solid $iceberg;
  background-color: $white;
}

.title {
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-family: $fontRegular;
  color: $grey;
}

.section__title {
  background: linear-gradient(90deg, $ghostWhite, $white);
  padding: 1rem;
  border-top: 1px solid $honeydew;
}

@media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
  .main {
    &__container {
      @include flexColumn;
      row-gap: 2rem;
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 2.125rem;
    }
  }

  .section__title {
    padding-left: 1.5rem;
  }
}

@media (min-width: $desktop) {
  /* Структура и общие блоки */
  body {
    display: grid;
  }

  h1 {
    margin-left: 1.875rem;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 4fr;

    &__container {
      @include flexColumn;
      row-gap: 3.125rem;
    }

    &__section {
      @include flexColumn;
    }

    &__header {
      @include flexCenter;
      justify-content: space-between;
      padding-right: 2rem;
    }

    &__title-wrapper {
      margin-top: 2.625rem;
    }

    &__actions {
      @include flexCenter;
    }

    &__action-button {
      display: flex;
    }

    &__action-text {
      margin: 0.5rem 0.5rem 0.5rem 0;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
      font-family: $fontMedium;
      letter-spacing: -0.2px;
    }

    &__action-list {
      display: flex;
      gap: 2rem;
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 2.125rem;
    }

    &__text-wrapper {
      line-height: 1.25rem;
      padding-left: 0;
      margin-right: 1.25rem;
    }

    &__expand-button,
    &__hiden-button {
      margin: 0.875px 0 0 0;
    }

    &__tabs-group {
      padding: 0 2.125rem 2rem;
      display: grid;
      grid-template-columns: repeat(6, auto);
      white-space: nowrap;
    }

    &__tab-label:last-of-type {
      grid-column: 1 / -1;
      justify-self: start;
    }
  }

  .section__title {
    padding-left: 2rem;
  }
}
