* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 248, 248, 1);
  font-family: 'TT Lakes Regular', sans-serif;
}

h1 {
  font-family: 'TT Lakes Bold', sans-serif;
  color: rgba(27, 28, 33, 1);
  padding: 0;
  margin: 0;
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: -0.375px;
  margin-left: 0.75rem;
}

p {
  font-size: 0.875rem;
}

ul,
li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

br {
  display: none;
}

a {
  text-decoration: none;
}
